include partials/collapsible.pug

html(lang="de")
    head
        title #{config.short}
        meta(charset="UTF-8")
        meta(name = 'keywords', content = `${config.title}, ${config.short}`)
    body
        img(src=require("./graphics/logo/fullName/logo_textAsPath.svg"), alt="Logo").logo
        h1 #{config.title}
        p Der #{config.title} ist ein Bierballclub aus Potsdam. Unser Ziel ist es, Bierball vom Stigma eines Trinkspiels zu befreien und stattdessen als professioniellen Mannschaftssport zu etablieren.
        p Der Verein befindet sich zurzeit noch im Aufbau. Informationen zum Erwerb einer Mitgliedschaft und geplanten Veranstaltungen werden hier zu gegebener Zeit veröffentlicht.
        hr
        +collapsible("Vereinfachte Spielregeln")
            !=require("./docs/Spielregeln_kurz.md")
        hr
        +collapsible("Spielregeln")
            !=require("./docs/Spielregeln.md")
        hr
        +collapsible("Vereinssatzung")
            !=require("./docs/Satzung.md")
        hr
